.justify-center-flex {
  justify-content: center;
  display: flex;
}

.justify-start-flex {
  justify-content: flex-start;
  display: flex;
}

.red-color {
  color: red !important;
}

.green-color {
  color: green !important;
}

.orange-color {
  color: orange !important;
}

.blue-color {
  color: blue !important;
}

.bold-text {
  font-weight: bold;
}

.button-margin-remover {
  margin: 0 !important;
}
